---
codeclimateBadgeURL: https://api.codeclimate.com/v1/badges/6b88d91863e46e9c12fd/maintainability
---

# {{{pkg.name}}}

[![Go to the latest release page on npm](https://img.shields.io/npm/v/{{{pkg.name}}}.svg)](https://www.npmjs.com/package/{{{pkg.name}}})
[![License: {{{pkg.license}}}](https://img.shields.io/static/v1?label=license&message={{#encURL}} {{{pkg.license}}} {{/encURL}}&color=green)][github-license]
![Supported Node.js version: {{{pkg.engines.node}}}](https://img.shields.io/static/v1?label=node&message={{#encURL}} {{{pkg.engines.node}}} {{/encURL}}&color=brightgreen)
![Type Definitions: TypeScript](https://img.shields.io/static/v1?label=types&message=TypeScript&color=blue)
[![bundle size](https://badgen.net/bundlephobia/min/{{{pkg.name}}}@{{{pkg.version}}})](https://bundlephobia.com/result?p={{{pkg.name}}}@{{{pkg.version}}})
[![Dependencies Status](https://david-dm.org/sounisi5011/{{{pkg.name}}}/status.svg)](https://david-dm.org/sounisi5011/{{{pkg.name}}})
[![Build Status](https://travis-ci.com/sounisi5011/{{{pkg.name}}}.svg?branch=master)](https://travis-ci.com/sounisi5011/{{{pkg.name}}})
[![Maintainability Status]({{{codeclimateBadgeURL}}})](https://codeclimate.com/github/sounisi5011/{{{pkg.name}}}/maintainability)

[github-license]: {{{githubFileRoot}}}/LICENSE

[Dart Sass] plugin for [Metalsmith].

[Dart Sass]: https://sass-lang.com/dart-sass
[Metalsmith]: https://github.com/segmentio/metalsmith

## Install

```sh
npm install {{{pkg.name}}}
```

## CLI Usage

Install via npm and then add the `{{{pkg.name}}}` key to your `metalsmith.json` plugin, like so:

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": true
  }
}
```

If you need to specify an options, set the options to the value of the `{{{pkg.name}}}` key.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": {
      "sassOptions": {
        "sourceMap": true
      }
    }
  }
}
```

Or, set the filepath of the script file that exports options to the value of the `{{{pkg.name}}}` key.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": "./metalsmith-sass-options.js"
  }
}
```

**`metalsmith-sass-options.js`**
```js
module.exports = {
  sassOptions: {
    sourceMap: true
  }
};
```

If you want to use the `files` variable or the default options value, you can specify the callback function that generates the options in script file.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": "./metalsmith-sass-options.js"
  }
}
```

**`metalsmith-sass-options.js`**
```js
module.exports = (files, metalsmith, defaultOptions) => {
  return {
    pattern: [...defaultOptions.pattern, '!**/_*/**'],
  };
};
```

See [Metalsmith CLI] for more details.

[Metalsmith CLI]: https://github.com/segmentio/metalsmith#cli

## Javascript Usage

The simplest use is to omit the option.

```js
const sass = require('{{{pkg.name}}}');

metalsmith
  .use(sass());
```

If you need to specify an options, set the options value.

```js
const sass = require('{{{pkg.name}}}');

metalsmith
  .use(sass({
    sassOptions: {
      sourceMap: true
    }
  }));
```

If you want to use the `files` variable or the default options value, you can specify the callback function that generates the options.

```js
const sass = require('{{{pkg.name}}}');

metalsmith
  .use(sass(
    (files, metalsmith, defaultOptions) => {
      return {
        pattern: [...defaultOptions.pattern, '!**/_*/**'],
      };
    }
  ));
```

## TypeScript Usage

For compatibility with the [Metalsmith CLI], this package exports single function in CommonJS style.  
When using with TypeScript, it is better to use the [`import = require()` statement](https://www.typescriptlang.org/docs/handbook/modules.html#export--and-import--require).

```js
import sass = require('{{{pkg.name}}}');

metalsmith
  .use(sass());
```

## Options

The default value for options are [defined]({{{githubFileRoot}}}/src/options/index.ts#L92-L105) like this:

```js
const path = require('path');

{
  /**
   * Partial files whose names begin with an underscore should be excluded from conversion.
   * @see https://sass-lang.com/guide#topic-4
   */
  pattern: ['**/*.sass', '**/*.scss', '!**/_*'],
  sassOptions: {},
  renamer(filename) {
    const newFilename = path.basename(filename, path.extname(filename)) + '.css';
    return path.join(path.dirname(filename), newFilename);
  },
  dependenciesKey: false,
}
```

## Debug mode

This plugin supports debugging output.  
To enable, use the following command when running your build script:

```sh
DEBUG={{{pkg.name}}} node my-website-build.js
```

For more details, please check the description of [debug v{{{pkgLock.dependencies.debug.version}}}][npm-debug-used].

[npm-debug-used]: https://www.npmjs.com/package/debug/v/{{{pkgLock.dependencies.debug.version}}}

## Tests

To run the test suite, first install the dependencies, then run `npm test`:

```sh
npm install
npm test
```

## Contributing

see [CONTRIBUTING.md](https://github.com/sounisi5011/{{{pkg.name}}}/blob/master/CONTRIBUTING.md)
