---
codeclimateBadgeURL: https://api.codeclimate.com/v1/badges/6b88d91863e46e9c12fd/maintainability
---

# {{{pkg.name}}}

[![Go to the latest release page on npm](https://img.shields.io/npm/v/{{{pkg.name}}}.svg)](https://www.npmjs.com/package/{{{pkg.name}}})
[![License: {{{pkg.license}}}](https://img.shields.io/static/v1?label=license&message={{#encURL}} {{{pkg.license}}} {{/encURL}}&color=green)][github-license]
![Supported Node.js version: {{{pkg.engines.node}}}](https://img.shields.io/static/v1?label=node&message={{#encURL}} {{{pkg.engines.node}}} {{/encURL}}&color=brightgreen)
![Type Definitions: TypeScript](https://img.shields.io/static/v1?label=types&message=TypeScript&color=blue)
[![bundle size](https://badgen.net/bundlephobia/min/{{{pkg.name}}}@{{{pkg.version}}})](https://bundlephobia.com/result?p={{{pkg.name}}}@{{{pkg.version}}})
[![Dependencies Status](https://david-dm.org/sounisi5011/{{{pkg.name}}}/status.svg)](https://david-dm.org/sounisi5011/{{{pkg.name}}})
[![Build Status](https://travis-ci.com/sounisi5011/{{{pkg.name}}}.svg?branch=master)](https://travis-ci.com/sounisi5011/{{{pkg.name}}})
[![Maintainability Status]({{{codeclimateBadgeURL}}})](https://codeclimate.com/github/sounisi5011/{{{pkg.name}}}/maintainability)

[github-license]: https://github.com/sounisi5011/{{{pkg.name}}}/blob/v{{{pkg.version}}}/LICENSE

[Dart Sass] plugin for [Metalsmith].

[Dart Sass]: https://sass-lang.com/dart-sass
[Metalsmith]: https://github.com/segmentio/metalsmith

## Install

```sh
npm install {{{pkg.name}}}
```

## CLI Usage

The simplest use is with a PostCSS configuration file.

### Use PostCSS configuration file

Install via npm and then add the `{{{pkg.name}}}` key to your `metalsmith.json` plugin, like so:

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": true
  }
}
```

If you need to specify an options, set the options to the value of the `{{{pkg.name}}}` key.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": {
      "sassOptions": {
        "sourceMap": true
      }
    }
  }
}
```

Or, set the filepath of the script file that exports options to the value of the `{{{pkg.name}}}` key.

**`metalsmith.json`**
```json
{
  "plugins": {
    "{{{pkg.name}}}": "./options.js"
  }
}
```

**`options.js`**
```js
module.exports = {
  sassOptions: {
    sourceMap: true
  }
};
```

See [Metalsmith CLI] for more details.

[Metalsmith CLI]: https://github.com/segmentio/metalsmith#cli

## Javascript Usage

TODO

## Debug mode

This plugin supports debugging output.  
To enable, use the following command when running your build script:

```sh
DEBUG={{{pkg.name}}} node my-website-build.js
```

For more details, please check the description of [debug v{{{pkgLock.dependencies.debug.version}}}][npm-debug-used].

[npm-debug-used]: https://www.npmjs.com/package/debug/v/{{{pkgLock.dependencies.debug.version}}}

## Tests

To run the test suite, first install the dependencies, then run `npm test`:

```sh
npm install
npm test
```

## Contributing

see [CONTRIBUTING.md](https://github.com/sounisi5011/{{{pkg.name}}}/blob/master/CONTRIBUTING.md)
